body {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  box-sizing: border-box;
  background: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  text-shadow: 0 1px 0 #ffffff;
}

#header {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, input, span, a {
  margin: 0.2rem;
  font-weight: 300;
  color: #333;
}
